@use '../../styles/_variables' as *;
@use './layout/Toolbar';
@use './components/Tooltip';
@use './components/StrokeWidth';
@use './components/Toast';

.toolbar-page {
	width: 100%;
	height: 100%;
	pointer-events: none!important;
}
